html, body {
	background-color: #2e2e2e;
	height: 100%;
	width: 100%;
	margin: 0; 
	font-family: Lato, Helvetica, sans-serif;
	padding: 0;
}

#main-body {
	background-color: #e3e3e3;
	height: 100%;
	width: 66.7%; /*66.7% of 75% = 50%*/
	padding-top: 1%;
	text-align: center;
	position: static;
	color: #2e2e2e;
}

h1 {
	font-weight: 1400;
	font-size: 3em;
	font-stretch: 40%;
	margin-top: 5px;
}

.full {
	height: 95%;
	width: 75%;
	margin-left: 25%;
}

.section {
	width: 85%;
	margin-bottom: 35px;
}

.section h2 {
	text-align: left;
}

.forceleft {
	text-align: left;
}

.section p {
	width: 90%;
	text-align: justify;
	font-size: 1.05em;
}

#initial-centred {
	text-align: center;
}

#sidebar {
	width: 23%;
	margin-top: 30px;
	float: left;
	text-align: right;
	position: static;
	color: #e3e3e3;
	font-size: 1.5em;
}

/* This removes the dot */
#sidebar li::marker {
    content: "";
}

#sidebar img {
	width: 1.5em;
	vertical-align: middle;
}

#sidebar li {
	margin-bottom: 20px;
	vertical-align: bottom;
}

a {
	color: inherit;
	text-decoration: inherit;
}

a:hover {
	text-decoration: underline;
}

/* This hack makes the spaces appear to not have underline */
.no-underline {
	color: #2e2e2e;
	text-decoration: underline;
}

.section li {
	text-align: justify;
	font-size: 1.05em;
}
