body {
	background-color: #1f3734;
	height: 100%;
	width: 100%;
	display: table;
	margin: 0;
}

#doc-header-content {
	color: #5fcfbf;
	display: table-row;
	text-align: center;
}

#doc-header-content h1 {
	font-size: 52px;
}

#doc-header-line {
	display: block;
	position: relative;
	width: 80%;
	border-color: #5fcfbf;
	background-color: #5fcfbf;
}

#doc-main {
	margin: 0px;
	background-color: #0f201e;
	display: table-row;
}

#doc-main-content {
	color: #9fc2af;
	font-size: 24px;
	font-family: Courier New, Courier, monospace;
}

.doc-main-mod-header h2 {
	text-decoration: underline;
	font-size: 30px;
	font-family: Arial, sans-serif;
	padding-left: 15px;
}

.doc-main-mod-links a {
	color: #7fb28f;
	text-decoration: none;
}

.doc-main-mod-links a:hover {
	color: #7ee236;
	text-decoration: underline;
}