html, body {
	background-color: #2e2e2e;
	height: 100%;
	width: 100%;
	margin: 0; 
	font-family: Lato, Helvetica, sans-serif;
	padding: 0;
}

#main-body {
	background-color: #e3e3e3;
	height: 100%;
	width: 66.7%; /*66.7% of 75% = 50%*/
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: center;
	position: static;
	color: #2e2e2e;
}

#main-body img {
	width: calc(2.5em + 6vw);
}

h1 {
	font-weight: 1000;
	font-size: calc(1.0em + 1.25vw);
	/*font-stretch: 40%;*/
	margin-top: 1%;
}

.full {
	height: 98%;
	width: 75%;
	margin-left: 25%;
}

.section {
	width: 85%;
	margin-bottom: 4%;
	font-size: calc(0.6vw + 0.4em);
}

.section h2 {
	text-align: left;
	font-size: calc(0.3vw + 1.2em);
}

.forceleft {
	text-align: left;
}

.section p {
	width: 90%;
	text-align: justify;
}

.section li {
	text-align: justify;
}

#initial-centred {
	text-align: center;
}

#sidebar {
	width: 23%;
	margin-top: 30px;
	float: left;
	text-align: right;
	position: static;
	color: #e3e3e3;
	font-size: calc(1.0vw + 0.5em);
}

/* This removes the dot */
#sidebar li::marker {
    content: "";
}

#sidebar img {
	width: calc(0.5vw + 0.5em);
	vertical-align: middle;
}

#sidebar li {
	margin-bottom: 20px;
	vertical-align: bottom;
}

a {
	color: inherit;
	text-decoration: inherit;
}

a:hover {
	text-decoration: underline;
}

/* This hack makes the spaces appear to not have underline */
.no-underline {
	color: #2e2e2e;
	text-decoration: underline;
}

