html, body {
	background-color: #2e2e2e;
	height: 100%;
	width: 100%;
	margin: 0; 
	font-family: Lato, Helvetica, sans-serif;
	padding: 0;
}

#main-body {
	background-color: #e3e3e3;
	min-height: 95%;
	width: 80%;
	margin-left: 10%;
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: center;
	position: static;
	color: #2e2e2e;
}

h1 {
	font-weight: 1000;
	font-size: calc(1.0em + 1.25vw);
	margin-top: 1%;
	transition: color 1s;
}

h2 {
	font-weight: 1000;
	font-size: calc(0.9em + 0.9vw);
	margin-top: 1%;
}

.faded {
	color: #e3e3e3;
}

#game {
	margin-top: 3%;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	position: static;
	text-align: center;
	font-size: 16px;
}

.entry {
	border: 3px solid #2e2e2e;
	border-radius: 15px;
	vertical-align: middle;
	padding: 10px;
	display: table-cell;
}

.entry-head {
	vertical-align: middle;
	padding: 10px;
	display: table-cell;
	font-weight: bold;
}

.nearly {
	background-color: #f2ca18;
}

.every60secondsinafricaaminutepasses {
	background-color: #2de55b;
}

.larger {
	width: 50%;
}

.scientific-name {
	font-size: 14px;
	font-style: italic;
}

.not-scientific-name {
	font-size: 14px;
}

.not-scientific-name img {
	vertical-align: middle;
}

.borders {
	margin-left: auto;
	margin-right: auto;
	
	padding-bottom: 10px;
	padding-top: 10px;
	
	border-spacing: 10px;
	border-bottom: 3px dashed #2e2e2e;
	display: table;
}

.borders-head {
	margin-left: auto;
	margin-right: auto;
	
	padding-bottom: 5px;
	padding-top: 10px;
	
	border-spacing: 10px;
	border-bottom: 3px double #2e2e2e;
	display: table;
}

.calulatedwidth {
	width: calc(18vw + 130px);
}

.searchy {
	margin-left: auto;
	margin-right: auto;
	
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 2px;
	padding-right: 2px;
	
	text-align: center;
	border-radius: 10px;
}

.searchable {
	margin-top: 3px;
	background-color: #2e2e2e;
	color: #e3e3e3;
	display: block;
	width: 98%;
}

#bird-entry {
	margin-top: 20px;
	
	background-color: #c3c3c3;
	
	border: 3px double #2e2e2e;
}

#bird-entry:focus {
	outline: none;
}

#guesses-left {
	margin-top: 9px;
	margin-bottom: 8px;
	font-weight: bold;
}

text {
	font-size: 14px;
}

a {
	text-decoration: none;
	color: #0087CC;
}

a:visited {
	color: #0087CC;
}

a:hover {
	text-decoration: underline;
}

#results {
	overflow-y: auto;
	max-height: 30vh;
	width: calc(18vw + 130px);
	margin-left: auto;
	margin-right: auto;
}

#how-2-play-stoppa {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 5;
	
	background-color: #ddda;
	transition: opacity 0.7s;
}

#how-2-play {
	position: fixed;
	top: 14%;
	bottom: 14%;
	left: 20%;
	right: 20%;
	
	background-color: #eee;
	border: 4px double #444;
	text-align: center;
	
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	
	overflow-y: auto;
	transition: opacity 0.7s;
}

.spacer {
	height: 10px;
}

.button {
	padding: 10px;
	font-size: 18px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}

#continue {
	background-color: #2de55b;
}

#back {
	border: 1px solid #2e2e2e;
	padding-left: 20px;
	padding-right: 20px;
}

#continue:focus {
	background-color: #22a342;
}

#back:hover {
	background-color: #c3c3c3;
}

@media (max-width: 800px) {
	#game {
		width: 100%;
		margin-top: 5%;
	}
	
	.entry {
		font-size: 10px;
	}
	
	.entry-head {
		font-size: 12px;
	}
	
	.scientific-name {
		font-size: 8px;
	}
	
	.not-scientific-name {
		font-size: 8px;
	}
	
	#guesses-left {
		margin-top: 6px;
	}
	
	.borders-head {
		padding-top: 5px;
		border-spacing: 2px;
	}
	
	text {
		font-size: 12px;
	}
	
	h2 {
		margin-top: 20%;
		border-bottom: 2px solid #2e2e2e;
	}
	
	#how-2-play {
		font-size: 8px;
	}
}


@media (max-width: 500px) {
	.entry {
		font-size: 8px;
		padding: 6px;
	}
	
	.entry-head {
		padding: 6px;
	}
}
